html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #444;
  color: #fff;
}

.todo-item {
  padding: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-bottom: 10px;
}